<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs: Mary and Mark</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #4782a1;
            font-family: Arial, sans-serif;
        }
        .content-container {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .logo img {
            width: 100px;
        }

        header {
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 10px 0;
        }
    </style>
</head>

<body>
<header class="container">
    <div class="row align-items-center">
        <div class="col-md-3">
            <div class="logo text-left">
                <img src="{% static 'img/logo.png' %}" alt="Your Logo" width="300">
                <!-- Adjust path as needed -->
            </div>
        </div>
        <div class="col-md-9">
            <nav class="nav justify-content-end">
                <a class="nav-link" href="/doctor-appointments/">View Appointments</a>
                <a class="nav-link" href="/analytics/">Analytics</a>
                <!-- Greeting Dropdown -->
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Hi, <span class="username">{{name}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/doctor-profile/">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/logout/">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 content-container">
            <h4>Patients by Month 2023</h4>
            <canvas id="maryChart"></canvas>
        </div>
        <div class="col-md-6 content-container">
            <h4>Revenue by Month 2023</h4>
            <canvas id="markChart"></canvas>
        </div>
    </div>
</div>

<script>
    var ctxMary = document.getElementById('maryChart').getContext('2d');
    var maryChart = new Chart(ctxMary, {
        type: 'bar',  // Choose the type of graph e.g. line, bar, pie, etc.
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [{
                label: '# of Patients',
                data: {{pat_count}},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
    });

    var ctxMark = document.getElementById('markChart').getContext('2d');
    var markChart = new Chart(ctxMark, {
        type: 'line', // Choose the type of graph
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [{
                label: 'Revenue Generated (INR)',
                data: {{revenue}},
                borderColor: 'rgba(255, 99, 132, 1)',
                fill: false
            }]
        },
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
